<div nz-row cdkDropListGroup [nzGutter]="60">
  <div nz-col [nzSpan]="4">
    <h3>Types</h3>

    <nz-list [nzDataSource]="todo" [cdkDropListData]="todo" (cdkDropListDropped)="drop($event)" cdkDropList nzBordered
      nzSize="small" [nzRenderItem]="smallItem">
      <ng-template #smallItem let-item>

        <nz-list-item cdkDrag [cdkDragData]="item" [nzContent]="item.type"></nz-list-item>
      </ng-template>
    </nz-list>
  </div>

  <div nz-col [nzSpan]="10">
    <h3>Form</h3>
    <form nz-form [nzLayout]="'horizontal'">
      <nz-list [nzDataSource]="done" cdkDropList [cdkDropListData]="done" (cdkDropListDropped)="drop($event)" nzBordered
        nzSize="small" [nzRenderItem]="smallItem1">
        <ng-template #smallItem1 let-item>
          <nz-list-item cdkDrag [cdkDragData]="item" class="form-list-item" [nzActions]="[actions]"
            [nzContent]="autoFormItem">
            <ng-template #autoFormItem>
              <app-auto-form-item [config]="item"></app-auto-form-item>
            </ng-template>
            <ng-template #actions>
              <a (click)="activeConfig(item)">edit</a>
              <a (click)="remove(item)">delete</a>
            </ng-template>
          </nz-list-item>
        </ng-template>
      </nz-list>
    </form>
  </div>

  <div [nzSpan]="10" *ngIf="activeItem" nz-col>
    <app-auto-form-item-config [config]="activeItem" (configSubmit)="config($event)"></app-auto-form-item-config>
  </div>
</div>

<nz-row>
  <pre>{{ done | json }} </pre>
</nz-row>
